.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: black;
  flex: 1;
}

body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1{
  color: #0e470e;
}

a.imageLink
{
  opacity: 0.5;
  -webkit-transition:opacity 0.05s ease-in;
}

a.imageLink:hover, a.imageLink.fakeHover
{
  opacity: 1;
}

a
{
  text-decoration: none;
  color: #79B;
}

a:hover
{
  text-decoration: underline;
}

#crypto-search {
  background-image: url('../src/images/search_icone.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.button-form {
  margin-left: 5px;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: calc(5px + 1vmin);
}

.date {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: calc(5px + 1vmin);
}

.list {
  border: 1px solid rgb(44, 44, 44);
  border-radius: 10px;
  overflow: hidden;
  width: 90%;
}

table {
  border-collapse: collapse;
  width: 100%;
}
thead{
  background-color: rgb(44, 44, 44);
  color: white;
  text-align: center;
}
tbody > tr{
  text-align: right;
}
td {
  align-items: center;
}
.rank{
  text-align: center;
  font-weight: bold;
}
.remove{
  text-align: center;
  font-weight: bold;
}
.priceChange1d{
  text-align: center;
  font-weight: bold;
}
.logo{
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
  gap: 10px;
}

.symbol{
  text-align: center;
  font-weight: bold;
}
