.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.List {
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
  width: 50%;
}

.List-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a.imageLink
{
  opacity: 0.5;
  -webkit-transition:opacity 0.05s ease-in;
}

a.imageLink:hover, a.imageLink.fakeHover
{
  opacity: 1;
}

a
{
  text-decoration: none;
  color: #79B;
}

a:hover
{
  text-decoration: underline;
}
